body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100%;
  background-color: rgb(37, 37, 37);
  font-family: 'Ropa Sans', sans-serif;
}

img {
  height: 10em;
  display: block;
  margin: auto;
  margin-bottom: 1em;
}

header span {
  font-family: 'Ropa Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: rgb(235, 235, 235); 
  font-size: 24px;
}

header {
  background-image: url('img/cover.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.gradient {
  background: linear-gradient(to right, rgba(29, 29, 29, 0.76), rgba(0, 0, 0, 0)); 
  height: 100%;
  width: 100%;
}

.logo-header {
  padding-top: 10em;
  margin-left: 5em;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 2em;
} 

.position {
  margin-top: -10px;
}

.icons {
  text-align: center;
  font-size: 22px;
}

.icons i {
  margin: 0px 20px;
  color: rgb(233, 233, 233);
}

@media ( max-width: 576px ) {
  .gradient {
    background: linear-gradient(to bottom, rgb(17, 17, 17), rgba(0, 0, 0, 0)); 
  }
  
  .logo-header {
    width: 100%;
    padding-top: 1.5em;
    margin-left: 0;
  }

  .about-information {
    display: flex;
    flex-direction: column;
  }
}

.aboutme {
  background-color: #4b5b5a;
  color: white;
  /* position: absolute; */
}

h2 {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 5em;
  line-height: 0.8; 
  text-transform: uppercase;
  padding: 1em 0;
}

.text {
  padding-bottom: 1em;
  /* width: 50%; */
}

.work {
  background-color: rgb(37, 37, 37);
}

.contact {
  background-color: rgb(250, 250, 250);
  color: rgb(34, 34, 34);
}

footer {
  background-color: rgb(37, 37, 37);
  height: 80px;
  width: 100%;
} 

footer > div {
  margin-top: 20px;
  font-size: 16px;
  color:white
} 

.footer-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-information {
  display: flex;
  flex-direction: row;
}

#stars {
  /* position: absolute; */
  width: 100%;
  height: auto;
}